language: ruby

notifications:
  email: false

rvm:
  - 2.0
  - 2.1
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - ruby-head

matrix:
  allow_failures:
    - rvm: ruby-head

before_install:
  - gem install webmock

script:
  - "bundle exec rake spec"
